.Wrapper {
  display: flex;
  width: auto;
  padding: 15px;

  justify-content: space-between;
  flex-wrap: wrap;
}

.LogoWrapper {
  display: flex;
}

.Icon {
  width: 45px;
  height: 50px;
  fill: white;
}

.Button {
  background-color: transparent;
  border: none;
}
.Logo {
  height: 150px;
}
.Drop {
}
.Search {
  height: 24px;
}

.Title {
  font-size: 5.5rem;
  color: #e82727;
  width: 100%;
  text-align: center;
}

.InputBar,
.Drop {
  font-size: 1.8rem;
  width: 50%;
  height: 50px;
  background-color: #413d3d;
  color: white;
  border-radius: 4px;
  border: 1px solid #413d3d;
  padding: 5px;
  &:focus {
    outline: none;
  }
  optgroup {
    font-size: 2rem;
    font-weight: 400;
  }
  option {
    font-size: 1.8rem;
  }
}

.InputContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 12px;
}

@media (max-width: 1023px) {
  .Wrapper {
  }

  .InputContainer {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }

  .LogoWrapper {
    width: 100%;
    justify-content: center;
  }

  .InputBar {
    width: 100%;
  }

  .Drop {
    flex-grow: 1;
  }

  .Button {
    // width: 20%;

    // margin-left: auto;
    // text-align: right;
  }
}
