.Wrapper {
  display: flex;
  width: auto;
  padding: 15px;

  justify-content: space-between;
}

.LogoWrapper {
  display: inline-flex;
}

.Icon {
  width: 45px;
  height: 50px;
  fill: white;
}

.Logo {
  height: 150px;
}
.Drop {
}
.Search {
  height: 24px;
}

.Title {
  font-size: 5.5rem;
  color: #e82727;
  width: 100%;
  text-align: center;
}

.InputBar,
.Drop {
  font-size: 1.8rem;
  width: 50%;
  height: 50px;
  background-color: #413d3d;
  color: white;
  border-radius: 4px;
  border: 1px solid #413d3d;
  padding: 5px;
  &:focus {
    outline: none;
  }
}

.InputContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 12px;
}
